<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Every Open Eye (Extended Edition)</string>
	<key>artistName</key>
	<string>CHVRCHES</string>
	<key>artworkURL</key>
	<string>NA</string>
	<key>coverURL</key>
	<string>http://i.scdn.co/image/d58d2b94ded21e8e4d8836b1efd1c7d33ef5e4b5</string>
	<key>currentPosition</key>
	<string>55</string>
	<key>isAd</key>
	<string>false</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>NA</string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>186</string>
	<key>songName</key>
	<string>Never Ending Circles</string>
	<key>soundVolume</key>
	<string>0</string>
</dict>
</plist>
