<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>Mis Planes Son Amarte</string>
	<key>artistName</key>
	<string>Juanes</string>
	<key>artworkURL</key>
	<string>NA</string>
	<key>coverURL</key>
	<string>http://i.scdn.co/image/482087103b5262247d387931eb49727451ec56b9</string>
	<key>currentPosition</key>
	<string>124</string>
	<key>isAd</key>
	<string>false</string>
	<key>isLoved</key>
	<string>false</string>
	<key>oldFilename</key>
	<string>NA</string>
	<key>songChanged</key>
	<string>false</string>
	<key>songDuration</key>
	<string>196</string>
	<key>songName</key>
	<string>Perro Viejo</string>
	<key>soundVolume</key>
	<string>100</string>
</dict>
</plist>
